.confectionerContext {
    position: relative;
    margin-left: 80px;
    margin-right: 80px;
}

.confectionerCloudContainer {
    background-color: #081130;
}

.confectionerImageContainer {
    position: relative;
    height: 804px;
    width: 580px
}

.confectionerTitle {
    justify-content: center;
    background: #F2F6FA;
    border-radius: 5px;
    color: #2E363E;
    display: flex;
    flex-direction: row;
    line-height: 150%;
    font-size: 11px;
    font-weight: 400;
    height: 37px;
    padding: 10px 18px;
    text-transform: uppercase;
    width: 191px;
}


.confectionerPrimaryText {
    font-weight: 500;
    font-size: 48px;
    margin: 24px 0;
    font-style: normal;
    line-height: 60px;
    color: #2E363E;
}

.confectionerTextContainer {
    max-width: 580px;
}

.confectionerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.confectionerListItem {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #2E363E;
    padding-inline-start: 20px;
    width: 400px;
}

.confectionerButton {
    padding: 30px 50px;
    width: 320px;
    height: 88px;
    background: #FED84C;
    border-radius: 8px;
    border: none;
    margin-top: 50px;
    font-weight: 500;
    font-size: 18px;
    color: #2E363E;
}

.confectionerButton:hover {
    cursor: pointer;
}

.confectionerBerry {
    position: absolute;
    top: 18%;
}

.confectionerGrass {
    position: absolute;
    left: 45%;
    top: 16%;
}

.confectionerName {
    position: absolute;
    left: 40%;
    top: 65%;
}